@model IEnumerable<ntpstone.Models.Customer>
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table id="customers" border="2" style="margin-top: 10px; text-align: center">
    <thead>
    <tr>
        <td>Id</td>
        <td>Customer</td>
        <td>Address</td>
        <td>ZipCode</td>
        <td>CellPhoneNumber</td>
        <td>OfficeNumber</td>
        <td>City</td>
        <td>District</td>
        <td>Consumption Amount</td>
        <td>MembershipType</td>
        <td>Discount Rate</td>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
@section scripts{
    <script>
        $(document).ready(function() {
            var table = $("#customers").DataTable({
                    ajax: {
                        url: "/api/customer",
                        dataSrc: ""
                    },
                    columns: [
                        {
                            data: "id"

                        },
                        {
                            data: "name",
                            render: function(data, type, customer) {
                                return "<a href='/customer/edit/" + customer.id + "'>" + customer.name + "</a>";
                            }
                        },
                        {
                            data: "address"

                        },
                        {
                            data: "zipCode"
                        },
                        {
                            data: "cellPhoneNumber"
                        },
                        {
                            data: "officeNumber"
                        },
                        {
                            data: "city"
                        },
                        {
                            data: "district"
                        },
                        {
                            data: "consumptionAmount"
                        },
                        {
                            data: "membershipType.name"
                        },
                        {
                            data: "membershipType.discountRate"
                        }
                    ]
                });
        })
    </script>
}